<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
  <title> Qwest Credit Enhancement </title>
  
  <link title="" media="all" type="text/css" rel="stylesheet" href="http://qwestcredit.com/css/main.css">
 </head>

 <body>
  <div id="container">
		<div id="hdr">
			<div id="logo"><a href="http://qwestcredit.com/index.php">Qwest Credit Enhancement</a></div>
			<p class="contact">Call today! <span class="tel">1-877-990-3426</span><br>10AM - 7PM EST, Mon. - Fri.</p>
			<div class="float-container">
			<img alt="" src="http://qwestcredit.com/images/logo_dnb.gif" class="logo">
			<img alt="" src="http://qwestcredit.com/images/logo_bbb.png" class="logo">
			</div>
			<ul class="nav main-nav">
				<li><a href="http://qwestcredit.com/index.php">Home</a></li>
				<li class="on"><a href="http://qwestcredit.com/how-it-works.php">How it Works</a></li>
				<li><a href="http://qwestcredit.com/laws.php">Laws</a></li>
				<li><a href="http://qwestcredit.com/credit-tips.php">Credit Tips</a></li>				
				<li><a href="http://qwestcredit.com/faqs.php">FAQ's</a></li>
				<li><a href="http://qwestcredit.com/contactus.php">Contact Us</a></li>
				<li><a href="http://qwestcredit.com/blog">Blog</a></li>
			</ul>		</div>
		<div id="content">
		<div class="wtlf-wrapper">
			<div class="wtlf-form">
				[FORM]
			</div>
			<div style="clear:both;"></div>
		</div>
		<!-- end content -->
		</div>
		<div id="ftr">
			<img alt="" src="http://qwestcredit.com/images/credit_cards.gif">
			<ul class="nav ftr-nav">
			  <li><a href="http://qwestcredit.com/index.php">Home</a></li>
			  <li><a href="http://qwestcredit.com/how-it-works.php">How It Works</a></li>
			  <li><a href="http://qwestcredit.com/credit-tips.php">Credit Tips</a></li>
			  <li class="last"><a href="http://qwestcredit.com/contactus">Contact Us</a></li>
			</ul>
			<div class="contact">
				<p><span class="tel">877-990-3426</span></p>
			</div>
			<p class="copyright">Copyright &copy; 2012 Qwest Credit Enhancement. All rights reserved.</p>
				</div>
			</div>
		</body>
	</html>
